.register-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    color: black;
}

.contenedor-register{
    width: 100%;
    background-color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
}

.form-input, .form-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.password-group {
    position: relative;
    display: flex;
    flex: 1;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
}

.submit-btn {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.icon {
    margin-left: 5px;
}

@media (max-width: 600px) {
    .input-group {
        flex-direction: column;
    }
}
